-# in app/views/movies/show.html.haml
 
%h2 Detalles sobre #{@movie.title}
 
%ul#details
  %li
    Clasificación:
    = @movie.rating
  %li
    Fecha de EStreno:
    = @movie.release_date.strftime("%B %d, %Y")
 
%h3 Descripción:
 
%p#description= @movie.description
 
= link_to 'Editar información', edit_movie_path(@movie)
= button_to 'Borrar', movie_path(@movie), :method => :delete, :confirm => 'Are you sure?'
= link_to 'volver a la lista de películas', movies_path
